<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>797609556140-jd3lh35gk16iucalenrsgm6aj95oll5o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.797609556140-jd3lh35gk16iucalenrsgm6aj95oll5o</string>
	<key>API_KEY</key>
	<string>AIzaSyAKwKaMLqAsmf7PnILM02pwf7LRnGQMzZ0</string>
	<key>GCM_SENDER_ID</key>
	<string>797609556140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hackPnw</string>
	<key>PROJECT_ID</key>
	<string>papyrus-e5ef4</string>
	<key>STORAGE_BUCKET</key>
	<string>papyrus-e5ef4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:797609556140:ios:5b33b6d0c86961c5fec709</string>
</dict>
</plist>